<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UATMM -->
      <package
            uri="ecore:UATMM_values"
            class="nl.utwente.ewi.fmt.UATMM.UATMM_values.UATMM_valuesPackage"
            genModel="data/models/UATMM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UATMM -->
      <package
            uri="ecore:UATMM_structure"
            class="nl.utwente.ewi.fmt.UATMM.UATMM_structure.UATMM_structurePackage"
            genModel="data/models/UATMM.genmodel"/>
   </extension>

</plugin>
