/UPPAALTrace.tokens
/UPPAALTraceBaseListener.java
/UPPAALTraceLexer.java
/UPPAALTraceLexer.tokens
/UPPAALTraceListener.java
/UPPAALTraceParser.java
/UPPAALTraceBaseVisitor.java
/UPPAALTraceVisitor.java
